<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm">
    <!--Email-->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" placeholder="something@gmail.com"></ion-input>
    </ion-item>
    
    <!--Password-->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" fill="solid" (click)="onSubmit()">Login</ion-button>
  </form>

  <!-- LogOut
  <ion-button color="primary" expand="block" fill="solid" (click)="logOut()">Logout</ion-button>
-->

<a (click)="goToSignup()">Create an account</a>

</ion-content>